@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}

.titulo{
  text-align: center;
  margin-top: -21%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  filter: drop-shadow(5px -4px 10px #655d67);
  border-bottom: #00a5ec;

}

body{
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b3b1b1
}


.container{
  height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

.card{
  height: 350px;
  width: 200px;
  margin: 70px;
  transition: 0.3ms;
  filter: drop-shadow(5px -4px 10px #000);

}

h2::first-letter {
  color: aqua;
  font-size: 2.5rem;
}

p::first-line{
  color: #b3b1b1;
}

.personaje, .personaje_2, .personaje_3, .personaje_4, .personaje_5, .personaje_6{
  height: 380px;
  width: 300px;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  background-color: #00a5ec;
  transition: 300ms;
  position: absolute;
}

.img_pers{
  height: 90%;
  width: 20%px;
  background-size: cover;
  margin-bottom: 200px;
  filter: drop-shadow(5px -4px 10px #000);
}


.detalle, .detalle_2, .detalle_3{
  height: 100px;
  width: 300px;
  background-color: white;
  position: fixed;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
  margin-top: 350px;
  z-index: 2;
  transition: 0,3s;
  text-align: center;
  filter: drop-shadow(5px -4px 6px #000);

}

.boton{
	box-shadow: 0px 0px 0px 2px #3f3f47;
	background:linear-gradient(to bottom, #457ee7 5%, #4bd9e3 100%);
	background-color:#ddf542;
	border-radius:17px;
	border:2px solid #2df73e3e;
	display:inline-block;
	cursor:pointer;
	color:#131615;
	font-size:10px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030303;
}
.boton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.boton:active {
	position:relative;
}


  /**Hover**/

.card:hover .personaje{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}

.card:hover .personaje_2{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}

.card:hover .personaje_3{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}
.card:hover .personaje_4{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}

.card:hover .personaje_5{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}
.card:hover .personaje_6{
  background-image: radial-gradient(white,rgb(0, 255, 162));
}

.card:hover .img_pers{
transform: scale(1.2);
transition: 0.3s;
}
