
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}

body {
    margin: 100px;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    margin-top: 30px;
    
}


.card {
    width: 270px;
    height: 450px;
    background-color: #a2a4a3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 40px;
    filter: drop-shadow(5px -4px 10px #000);

    
}

.imagen_personaje {
  height: 300px;
  width: 200px;
  background-image:url(../imagenes-1/goku_normal.webp);
  background-size: cover;
  margin-bottom: 100px;
  transition: 300ms;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
}

.imagen_personaje_2 {
  height: 300px;
  width: 200px;
  background-image:url(../imagenes-1/vegeta_normal.webp);
  background-size: cover;
  margin-bottom: 100px;
  transition: 300ms;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
}

.imagen_personaje_3 {
  height: 300px;
  width: 200px;
  background-image:url(../imagenes-1/Raditz_artwork_Dokkan.webp);
  background-size: cover;
  margin-bottom: 100px;
  transition: 300ms;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
}

.card-content {
  height: 80px;
  width: 270px;
  background-color: rgb(5, 189, 134);
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
  margin-top: 2%;
  transition: 300ms;
  text-align: center;
}

.boton {
	box-shadow: 3px 2px 6px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#94dc36;
	font-family:Arial;
	font-size:15px;
	padding:2px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.boton:hover {
	background:linear-gradient(to bottom, #bf6fbf 5%, #15a2de 100%);
	background-color:#47e176;
}
.boton:active {
	position:relative;
	top:1px;
}

.boton_enlace {
	box-shadow: 0px 0px 0px 2px #2b282b;
	background:linear-gradient(to bottom, #ca74d4 5%, #476e9e 100%);
	background-color:#ca74d4;
	border-radius:10px;
	border:1px solid #1c1c1c;
	display:inline-block;
	cursor:pointer;
	font-size:19px;
	padding:6px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.boton_enlace:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #ca74d4 100%);
	background-color:#476e9e;
}
.boton_enlace:active {
	position:relative;
	top:1px;
}
